
	body {
  font-size: 16px;
  color: #fff;
  background-color: maroon;
  font-family: 'Oxygen', sans-serif;
}
/*header*/

#header-nav {
  background-color: #f6b319;
  border-radius: 0;
  border: 0;
}

.navbar-brand {
  padding-top: 25px;
  padding-bottom: 25px;
}
.navbar-brand h1 { 
  font-family: 'Lora', serif;
  color: #557c3e;
  font-size: 2.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 2px 2px 2px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
/*header close*/

  .column {
  float: left;
  width: 33.33%;
  padding: 10px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  
}
  .row{
  display: list-item;
}


.column {
  flex: 33.33%;
  padding: 5px;
  

}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 50px) {
  .column {
    width: 50%;
    display: flex;
  }
}

/* FOOTER */

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #222;
  color: white;
  text-align: center;
}





/* END FOOTER */
